.container--api-token h3 {
  margin-top: 0;
}

.container--api-token .panel {
  margin-top: 16px;
}

.container--api-token .panel .button {
  margin-top: 16px;
}

.form--api-token {
  display: flex;
  margin-top: 16px;
}

.form--api-token button {
  margin-left: 16px;
}
