button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--blue);
  background-color: var(--button);
  padding: 12px 16px;
  font-size: 14px;
  border-radius: var(--border-radius);
  font-weight: 600;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: var(--button-hover);
  text-decoration: none;
}

.button--big {
  height: 56px;
  font-size: 1rem;
  padding: 0 32px;
  min-width: 160px;
}
