.Comment {
  display: flex;
  background-color: var(--item);
  border-radius: var(--border-radius);
  padding: 24px;
  margin-top: 8px;
  position: relative;
}

.Comment p {
  color: var(--text-80);
}

.Comment .actions {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 140px;
  padding: 24px;
  opacity: 0;
  background-image: linear-gradient(180deg, #f2f4f7 0%, rgba(242, 244, 247, 0.6) 44%, rgba(242, 244, 247, 0) 100%);
  transition: ease-in-out 0.1s all;
}

.Comment:hover .actions {
  opacity: 0.9;
}

.Comment .actions svg {
  height: 20px;
  width: 20px;
}

.Comment header {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.Comment address {
  font-style: normal;
}

.Comment form {
  padding-right: 24px;
}

.Comment p {
  font-size: 14px;
  line-height: 1.5;
}

.Comment time {
  color: var(--text-40);
}
