.Comments header {
}

.Comments .Avatar {
  margin-right: 8px;
}

.Comments .author {
  display: flex;
  align-items: center;
}

.Comments ul {
  padding: 0;
  list-style: none;
}

.Comments ul ul {
  padding-left: 32px;
  list-style: none;
}
