.Comment {
  display: flex;
  background-color: var(--item);
  border-radius: var(--border-radius);
  padding: 24px;
  margin-top: 8px;
}

.Comment header {
  font-size: 12px;
  font-weight: 500;
  display: flex;
}

.Comment address {
  font-style: normal;
}

.Comment form {
  padding-right: 24px;
}

.Comment p {
  font-size: 14px;
  line-height: 1.5;
}

.Comment time {
  color: var(--white-60);
}
