.Header {
  border-bottom: 1px solid var(--border);
  height: 40px;
  padding: 8px 8px 8px 80px;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;
  background-color: var(--sidebar-bg);
}

.Header .settings-icon {
  margin-left: auto;
  margin-right: 4px;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
}

.Header .settings-icon:hover {
  opacity: 1;
}

.Header .icon--active {
  opacity: 1;
}

.Header .icon--active g {
  fill: var(--blue);
}
