:root {
  --background: #ffffff;
  --border: #e9e9e9;
  --input-border: rgba(1, 7, 17, 0.15);
  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --text: #010711;
  --text-80: rgba(1, 7, 17, 0.8);
  --text-60: rgba(1, 7, 17, 0.6);
  --text-40: rgba(1, 7, 17, 0.4);
  --blue: #0055ff;
  --blue-darken: #0044cc;
  --red: #b31a00;
  --dark: #121821;
  --item: rgba(0, 32, 95, 0.05);
  --item-hover: rgba(0, 32, 95, 0.1);
  --item-active: rgba(9, 91, 255, 0.1);
  --button: #f2f6ff;
  --button-hover: #e7eeff;
  --border-radius: 6px;
  --sidebar-bg: #fcfcfd;
}

* {
  box-sizing: border-box;
}
