.Loader {
  padding: 24px;
  font-size: 15px;
  color: var(--text-60);
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.Loader svg {
  margin-right: 16px;

  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
