.MenuItem {
  background-color: var(--item);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px 8px 12px;
  width: 100%;
  margin-top: 8px;
  height: 56px;
  color: var(--text-80);
}

.MenuItem .color-border {
  width: 3px;
  height: 32px;
  margin-right: 12px;
  border-radius: 1.5px;
}

.MenuItem:hover {
  background-color: var(--item-hover);
  color: var(--text);
  text-decoration: none;
}

.MenuItem--active {
  background-color: var(--item-active);
  color: var(--text);
}

/* .MenuItem--active:hover {
  background-color: var(--blue-hover);
} */

.MenuItem span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.MenuItem img {
  margin-left: auto;
}
