.MenuItem {
  background-color: var(--item);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 16px;
  width: 100%;
  margin-top: 8px;
  height: 56px;
  color: var(--white-80);
}

.MenuItem span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.MenuItem img {
  margin-left: 16px;
}
