@keyframes annotationPulse {
  from {
    box-shadow: 0 0 0 8px rgba(0, 85, 255, 0.12);
  }
  to {
    box-shadow: 0 0 0 16px rgba(0, 85, 255, 0.12);
  }
}

.Preview {
  border-left: 1px solid var(--border);
  max-width: 420px;
  width: 100%;
  padding: 32px;
  overflow-y: auto;
}

.Preview img {
  max-width: 100%;
  height: auto;

  box-shadow: 0 2px 19px 0 rgba(8, 23, 53, 0.13);
  border-radius: var(--border-radius);
}

.Preview .file-name {
  font-size: 12px;
  font-weight: normal;
  color: var(--text-60);
}

.preview-link {
  margin-top: 16px;
  position: relative;
  display: block;
}

.annotation {
  border: 2px solid var(--blue);
  box-shadow: 0 0 0 16px rgba(0, 85, 255, 0.12);
  position: absolute;
  border-radius: var(--border-radius);
  animation: annotationPulse 1s ease-in-out infinite alternate;
}
